@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Staatliches&display=swap');

body{
    font-family: 'Montserrat',sans-serif;
}

.body-container{
    max-width: 60vw;
    margin: auto;
    padding: 1rem;
}

h1{
    font-family: 'Staatliches', cursive;
    font-size: xxx-large;
    text-align: center;
    margin: auto;
}

input{
    width: 20vw;
}